{% extends 'vote/base.html' %}
{% load staticfiles %}

{% block title %}Gestion des votes{% endblock %}


{% block content %}

    {% include 'vote/messages.html' %}

    <div class="table-responsive">
        <table align="center" class="table table-striped table-dark table-hover">
        <thead>
        <tr align="center">
            <th scope="col"><i class="fas fa-sort-numeric-up"></i> #</th>
            <th scope="col"><i class="fas fa-shield-alt"></i> Cryptage du centre de comptage CO</th>
            <th scope="col"><i class="fas fa-shield-alt"></i> Cryptage du centre de dépouillement DE</th>
            <th scope="col"><i class="fas fa-file-signature"></i> Signature</th>
            <th scope="col"><i class="far fa-calendar-alt"></i> Date</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for pending in pendings.object_list %}
            <tr align="center">
                <th scope="row">{{ pending.pk }}</th>
                <td>{{ pending.co_file.name }}</td>
                <td>{{ pending.de_file.name }}</td>
                <td>
                    {% if pending.signature.is_valid is True %}
                        <i class="fas fa-clipboard-check" style="color: springgreen;"></i>
                    {% elif pending.signature.is_valid is None %}
                        <i class="fas fa-spinner fa-spin"></i>
                    {% else %}
                        <i class="fas fa-exclamation-triangle" style="color: red;"></i>
                    {% endif %}
                </td>
                <td>{{ pending.date }}</td>
                <td>

                    {% if pending.signature.is_valid %}
                        <span class="badge badge-success">La signature est valide!</span>
                    {% elif not pending.signature.is_valid and pending.signature.is_valid is not None %}
                        <span class="badge badge-danger">La signature est non valide!</span>
                    {% endif %}

                    {% if pending.signature.is_valid is None %}
                        <form method="POST" action="{% url 'vote:verify_signature' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url 'vote:votes_management' %}{% if request.GET.page is not None %}?page={{ request.GET.page }}{% endif %}">
                            <input type="hidden" name="signature_id" value="{{ pending.signature.pk }}"/>
                            <button class="btn btn-success btn-sm"><i class="fas fa-person-booth"></i> Verifier la
                                signature
                            </button>
                        </form>
                    {% endif %}


                    {% if not pending.done and pending.signature.is_valid %}
                        <form method="POST" action="{% url 'vote:decrypt_vote' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pending_id" value="{{ pending.pk }}"/>
                            {% if request.GET.page is not None %}
                                <input type="hidden" name="page" value="{{ request.GET.page }}"/>
                            {% endif %}
                            <button class="btn btn-success btn-sm"><i class="fas fa-person-booth"></i>
                                <i class="fas fa-random"></i> Décrypter et transferer le vote
                            </button>
                        </form>
                    {% endif %}

                    {% if pending.is_valid and pending.done %}
                        <span class="badge badge-success">Le vote est marqué avec succé!</span>
                    {% elif not pending.is_valid and pending.done %}
                        <span class="badge badge-danger">Le vote est marqué non valide!</span>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9" class="alert alert-warning text-center font-weight-bold">
                    <i class="fas fa-info-circle"></i> Aucun vote n'a été ajouté!
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% if pendings.has_other_pages %}
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if pendings.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'vote:votes_management' %}?page=1{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}"
                           tabindex="-1" aria-disabled="true"><<</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'vote:votes_management' %}?page={{ pendings.previous_page_number }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}"
                           tabindex="-1" aria-disabled="true">Précedent</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true"><<</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true">Précedent</a>
                    </li>
                {% endif %}

                {% for page_num in pendings.paginator.page_range %}
                    {% if pendings.number == page_num %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link"
                               href="{% url 'vote:votes_management' %}?page={{ page_num }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">{{ page_num }}
                                <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="{% url 'vote:votes_management' %}?page={{ page_num }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if pendings.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'vote:votes_management' %}?page={{ pendings.next_page_number }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">Suivant</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% url 'vote:votes_management' %}?page={{ pendings.paginator.num_pages }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">>></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Suivant</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">>></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}


{% endblock %}