{% extends 'vote/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
    <h3 class="text-center mt-3">Profil</h3>


    <table class="table table-hover col-sm-12 col-md-8 col-lg-8 col-xl-8 mr-auto ml-auto text-center" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ user.pk }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Nom</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th scope="row">Prénom</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th scope="row">Date de naissance</th>
            <td>{{ voter.birth_date }}</td>
        </tr>
        <tr>
            <th scope="row">Clé publique</th>
            <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#publicKeyModal"><i class="far fa-eye"></i> Voir</button></td>
        </tr>
        <tr>
            <th scope="row">Clé privée</th>
            <td><button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#privateKeyModal"><i class="far fa-eye"></i> Voir</button></td>
        </tr>
        </tbody>
    </table>

{% include 'vote/common/keys-modals.html' %}

{% endblock %}