{% extends 'vote/base.html' %}
{% load staticfiles %}

{% block title %}Revision des votes{% endblock %}


{% block content %}

    {% include 'vote/messages.html' %}

    <div class="table-responsive">
        <table align="center" class="table table-striped table-dark table-hover">
        <thead>
        <tr align="center">
            <th scope="col"><i class="fas fa-sort-numeric-up"></i> #</th>
            <th scope="col"><i class="fas fa-shield-alt"></i> Cryptage du centre de comptage CO</th>
            <th scope="col"><i class="fas fa-shield-alt"></i> Cryptage du centre de dépouillement DE</th>
            <th scope="col"><i class="fas fa-file-signature"></i> Signature</th>
            <th scope="col"><i class="far fa-calendar-alt"></i> Date</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for revision in revisions.object_list %}
            <tr align="center">
                <th scope="row">{{ revision.pk }}</th>
                <td>{{ revision.pending.co_file.name }}</td>
                <td>{{ revision.de_file.name }}</td>
                <td>
                    {% if revision.signature.is_valid  %}
                        <i class="fas fa-clipboard-check" style="color: springgreen;"></i>
                    {% elif not revision.signature.is_valid %}
                        <i class="fas fa-spinner fa-spin"></i>
                    {% endif %}
                </td>
                <td>{{ revision.date }}</td>
                <td>

                    {% if not revision.signature.is_valid and revision.signature.is_valid is not None %}
                        <span class="badge badge-danger">La signature est non valide!</span>
                    {% elif revision.signature.is_valid and revision.signature.is_valid is not None %}
                        <span class="badge badge-success">La signature est valide!</span>
                    {% endif %}

                    {% if revision.signature.is_valid is None %}
                        <form method="POST" action="{% url 'vote:verify_signature' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url 'vote:votes_revision' %}{% if request.GET.page is not None %}?page={{ request.GET.page }}{% endif %}">
                            <input type="hidden" name="signature_id" value="{{ revision.signature.pk }}"/>
                            <button class="btn btn-success btn-sm"><i class="fas fa-person-booth"></i> Verifier la
                                signature
                            </button>
                        </form>
                    {% endif %}


                    {% if not revision.done and revision.signature.is_valid %}
                        <form method="POST" action="{% url 'vote:decide_revision' %}">
                            {% csrf_token %}
                            <input type="hidden" name="revision_id" value="{{ revision.pk }}"/>
                            {% if request.GET.page is not None %}
                                <input type="hidden" name="page" value="{{ request.GET.page }}" />
                            {% endif %}
                            <button class="btn btn-success btn-sm"><i class="fas fa-person-booth"></i>
                                <i class="fas fa-random"></i> Décrypter et traiter le vote
                            </button>
                        </form>
                    {% endif %}

                    {% if revision.is_valid and revision.done %}
                        <span class="badge badge-success">Le vote est approuvé avec succé!</span>
                    {% elif not revision.is_valid and revision.done %}
                        <span class="badge badge-danger">Le vote est refusé en tant qu'invalide!</span>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6" class="alert alert-warning text-center font-weight-bold">
                    <i class="fas fa-info-circle"></i> Aucun vote n'a été ajouté pour la verificaton finale!
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% if revisions.has_other_pages %}
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if revisions.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'vote:votes_revision' %}?page=1{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}"
                           tabindex="-1" aria-disabled="true"><<</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'vote:votes_revision' %}?page={{ revisions.previous_page_number }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}"
                           tabindex="-1" aria-disabled="true">Précedent</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true"><<</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true">Précedent</a>
                    </li>
                {% endif %}

                {% for page_num in revisions.paginator.page_range %}
                    {% if revisions.number == page_num %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link"
                               href="{% url 'vote:votes_revision' %}?page={{ page_num }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">{{ page_num }}
                                <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="{% url 'vote:votes_revision' %}?page={{ page_num }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if revisions.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'vote:votes_revision' %}?page={{ revisions.next_page_number }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">Suivant</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% url 'vote:votes_revision' %}?page={{ revisions.paginator.num_pages }}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">>></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Suivant</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">>></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}


{% endblock %}